" ============================================================================
" VsVim configuration
" ============================================================================
"
" Visual Studio functionality mapped to Vim / Neovim-style keybindings.
"
" ============================================================================

let mapleader = " "


" ============================================================================
" Editor
" ============================================================================

set number
set relativenumber
set scrolloff=8

set ignorecase
set smartcase
set incsearch
set hlsearch

set tabstop=4
set shiftwidth=4
set expandtab
set autoindent


" ============================================================================
" Clipboard
" ============================================================================

" Every yank goes to the Windows clipboard.
nnoremap y "+y
vnoremap y "+y
nnoremap yy "+yy
nnoremap Y "+y$

" Windows-style Ctrl-V paste.
nnoremap <C-v> <C-S-v>
inoremap <C-v> <C-S-v>


" ============================================================================
" Search
" ============================================================================

nnoremap n nzz
nnoremap N Nzz
nnoremap <leader><Esc> :nohlsearch<CR>


" ============================================================================
" Visual mode
" ============================================================================

vnoremap < <gv
vnoremap > >gv
vnoremap <C-j> :vsc Edit.MoveSelectedLinesDown<CR>
vnoremap <C-k> :vsc Edit.MoveSelectedLinesUp<CR>


" ============================================================================
" Files / Project
" ============================================================================

nnoremap <C-n> :vsc View.SolutionExplorer<CR>
nnoremap <C-p> :vsc Edit.GoToAll<CR>
nnoremap <leader>fg :vsc Edit.FindinFiles<CR>
nnoremap <leader>fb :vsc Window.Windows<CR>
nnoremap <leader>p :vsc Window.AutoHide<CR>


" ============================================================================
" Code Navigation
" ============================================================================

" Keep IDE-style navigation grouped under <leader>g, matching Neovim.
nnoremap <leader>gd :vsc Edit.GoToDefinition<CR>
nnoremap <leader>gi :vsc Edit.GoToImplementation<CR>
nnoremap <leader>gr :vsc Edit.FindAllReferences<CR>
nnoremap <leader>gp :vsc Edit.PeekDefinition<CR>

" Quick Info / LSP Hover equivalent.
nnoremap K :vsc Edit.QuickInfo<CR>

" Previous / next open document.
nnoremap [b :vsc Window.PreviousDocumentWindow<CR>
nnoremap ]b :vsc Window.NextDocumentWindow<CR>


" ============================================================================
" Multi Cursor
" ============================================================================

nnoremap <leader>ma :vsc Edit.InsertCaretsatAllMatching<CR>
vnoremap <leader>ma :vsc Edit.InsertCaretsatAllMatching<CR>
nnoremap <leader>mn :vsc Edit.InsertNextMatchingCaret<CR>
vnoremap <leader>mn :vsc Edit.InsertNextMatchingCaret<CR>
nnoremap <C-Up> :vsc Edit.LineUpExtendColumn<CR>
vnoremap <C-Up> :vsc Edit.LineUpExtendColumn<CR>
nnoremap <C-Down> :vsc Edit.LineDownExtendColumn<CR>
vnoremap <C-Down> :vsc Edit.LineDownExtendColumn<CR>


" ============================================================================
" Refactoring / LSP-like functionality
" ============================================================================

nnoremap <leader>ca :vsc View.QuickActions<CR>
nnoremap <leader>rn :vsc Refactor.Rename<CR>
nnoremap <leader>gf :vsc Edit.FormatDocument<CR>


" ============================================================================
" Comments
" ============================================================================

nnoremap <leader>/ :vsc Edit.ToggleLineComment<CR>
vnoremap <leader>/ :vsc Edit.ToggleLineComment<CR>


" ============================================================================
" Build
" ============================================================================

nnoremap <leader>m :vsc Build.BuildSolution<CR>
nnoremap <leader>mr :vsc Build.RebuildSolution<CR>
nnoremap <leader>mc :vsc Build.Cancel<CR>


" ============================================================================
" Errors / Quickfix
" ============================================================================

nnoremap <leader>q :vsc View.ErrorList<CR>
nnoremap ]q :vsc View.NextError<CR>
nnoremap [q :vsc View.PreviousError<CR>


" ============================================================================
" Terminal
" ============================================================================

nnoremap <leader>t :vsc View.Terminal<CR>


" ============================================================================
" Navigation history
" ============================================================================

nnoremap <C-o> :vsc View.NavigateBackward<CR>
nnoremap <C-i> :vsc View.NavigateForward<CR>


" ============================================================================
" Debugging
" ============================================================================

nnoremap <leader>dc :vsc Debug.ReattachtoProcess<CR>
nnoremap <leader>ds :vsc Debug.StopDebugging<CR>
nnoremap <leader>dr :vsc Debug.Restart<CR>
nnoremap <leader>db :vsc Debug.ToggleBreakpoint<CR>
nnoremap <leader>dn :vsc Debug.StepOver<CR>
nnoremap <leader>di :vsc Debug.StepInto<CR>
nnoremap <leader>do :vsc Debug.StepOut<CR>


" ============================================================================
" Tests
" ============================================================================

nnoremap <leader>ra :vsc TestExplorer.RunAllTestsInContext<CR>:vsc TestExplorer.ShowTestExplorer<CR>
nnoremap <leader>rA :vsc TestExplorer.RunAllTests<CR>:vsc TestExplorer.ShowTestExplorer<CR>
nnoremap <leader>rd :vsc TestExplorer.DebugAllTestsInContext<CR>:vsc TestExplorer.ShowTestExplorer<CR>


" ============================================================================
" Documents
" ============================================================================

nnoremap <leader>ws :vsc File.SaveSelectedItems<CR>
nnoremap <leader>wa :vsc File.SaveAll<CR>
nnoremap <leader>wc :vsc File.Close<CR>
nnoremap <leader>wo :vsc File.CloseOtherTabs<CR>


" ============================================================================
" Splits / Windows
" ============================================================================

nnoremap <leader>sh :vsc Window.Split<CR>
nnoremap <leader>sv :vsc Window.NewWindow<CR>:vsc Window.NewVerticalTabGroup<CR>
nnoremap <C-h> :vsc Window.PreviousPane<CR>
nnoremap <C-l> :vsc Window.NextPane<CR>
nnoremap <leader>sc :vsc Window.CloseDocumentWindow<CR>
nnoremap <leader>sx :vsc Window.Window.SwapPanes<CR>
nnoremap <leader>sgv :vsc Window.NewVerticalTabGroup<CR>
nnoremap <leader>sgh :vsc Window.NewHorizontalTabGroup<CR>
nnoremap <leader>smn :vsc Window.MoveToNextTabGroup<CR>
nnoremap <leader>smp :vsc Window.MoveToPreviousTabGroup<CR>


" ============================================================================
" Git
" ============================================================================

" Git gets its own uppercase-G namespace so <leader>g remains code navigation.
nnoremap <leader>Gg :vsc Team.Git.GoToGitChanges<CR>
nnoremap <leader>Gp :vsc Tools.ExternalCommand2<CR>


" ============================================================================
" Vim editing conveniences
" ============================================================================

" Join lines without moving cursor.
" nnoremap J mzJ`z

" Reload VsVim config.
nnoremap <leader>rc :source ~\.vimrc<CR>
