* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 14px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #e4e4ef;
}

#workspaces {
    background: rgba(24, 24, 24, 0.88);
    border-radius: 10px;
    margin: 5px 0 5px 8px;
    padding: 0 5px;
}

#workspaces button {
    color: #95a99f;
    padding: 0 7px;
    border-radius: 8px;
}

#workspaces button.active {
    color: #ffdd33;
    background: rgba(255, 221, 51, 0.12);
}

#workspaces button:hover {
    color: #e4e4ef;
    background: rgba(255, 255, 255, 0.06);
}

#clock {
    background: rgba(24, 24, 24, 0.88);
    color: #e4e4ef;
    border-radius: 10px;
    padding: 0 12px;
    margin: 5px 0;
}

#custom-localsend,
#custom-control-center {
    background: rgba(24, 24, 24, 0.88);
    color: #e4e4ef;
    border-radius: 10px;
    padding: 0 12px;
    margin: 5px 0;
}

#custom-localsend.active {
    color: #ffdd33;
    background: rgba(255, 221, 51, 0.12);
}

#custom-localsend.inactive {
    color: #95a99f;
}

#custom-localsend:hover,
#custom-control-center:hover {
    color: #ffdd33;
    background: rgba(40, 40, 40, 0.94);
}

#custom-control-center {
    margin-right: 12px;
}
